<footer>
  <!--<div class="page-header"></div>[> inserts the line separator <]-->
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <p><span>&copy; {{ site.time | date: "%Y" }} - {{ site.copyright }}
          <a href="http://my.vanderbilt.edu/stormlab/" target="_blank">STORM Lab</a> / 
          <a href="http://isis.vanderbilt.edu/" target="_blank">Institute for Software Integrated Systems</a> / 
          <a href="http://www.vanderbilt.edu" target="_blank">Vanderbilt University</a> / 
          <a href="http://www.vuse.vanderbilt.edu" target="_blank">School of Engineering</a></span></p>
      </div>
    </div>
  </div>
</footer>
{% javascript app %}
{% include analytics.html %}
