<div class="jumbotron">
  <div class="container">
    <!--<p>{% image component_model.jpg %} </p>-->
    <h1>Design Environment for Medical Capsule Robots</h1>
    <div class="row">
      <div class="col-md-4">
        <p><a class="btn btn-lg btn-primary" href="/" role="button">Motivation</a></p>
      </div>
      <div class="col-md-4">
        <p><a class="btn btn-lg btn-primary" href="/hardware" role="button">Hardware</a></p>
      </div>
      <div class="col-md-4">
        <p><a class="btn btn-lg btn-primary" href="/design" role="button">Design Environment</a> </p>
      </div>
    </div>
  </div>
</div>
