<div class="jumbotron" style="background-image: url(/img/FLEX.jpg); background-position: center; background-size: cover">
  <div class="container">
    <h1>Design Environment for Medical Capsule Robots</h1>
    <div class="row">
      <div class="col-md-4">
        <p><a class="btn btn-lg btn-primary" href="/" role="button">Motivation</a></p>
      </div>
      <div class="col-md-4">
        <p><a class="btn btn-lg btn-primary" href="/hardware" role="button">Hardware</a></p>
      </div>
      <div class="col-md-4">
        <p><a class="btn btn-lg btn-primary" href="/design" role="button">Design Environment</a> </p>
      </div>
      <div class="col-md-4">
        <p><a class="btn btn-lg btn-primary" href="/simulation" role="button">Simulation</a> </p>
      </div>
    </div>
  </div>
</div>
