// COLOR SCHEME
// -------------------------
@import "bootstrap/mixins";

$docs-bg: rgb(51,51,51);
$docs-content-bg: #444;

body {
  /*background-image: url(asset_path('noise.png'));*/
  font-family: 'Lato';
}

.container h1 {
  text-shadow: 1px 1px 0px rgba(0,0,0,.3);
  font-family: 'Lato';
  font-weight: bold;
}

.container {
  font-size: 18px;
}

.page-content {
    margin-top: 75px;
}

.page-content .docs-content{
    border-radius: 10px;
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    @include box-shadow(0 3px 10px rgba(0,0,0,.1));
}


// NAVBAR
// -------------------------

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  font-weight: 600;
}


/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

/* Jumbotron */
.jumbotron {
    color: #ddd;
    background-color: rgb(51,51,51);
    margin-bottom: 0px;
}
.jumbotron > .container {
    margin-top: 52px;
}


// FOOTER
// -------------------------

footer {
    padding: 15px;
    background-color: $gray-lighter;
}


/* Responsive CSS */

// Navbar links float right for desktop and left for mobile

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }


  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 6px;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
