<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-9 docs-content" role="main">
            {{ content }}
          </div>
          <div class="col-md-3" role="complementary">
            <nav class="hidden-print hidden-xs hidden-sm">
              <ul class="nav docs-sidenav">
                <li><a href="#hardware">Hardware</a></li>
                <li><a href="#software">Software</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include anchor_links.html %}
  </body>

</html>
